<!DOCTYPE HTML>
<html>

<head>
	<title>Employees</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>

<body>
	<h2>Employees 111</h2><div id="EmployeeRecordsFound" class="inline"><span id="noOfEmployees"></span> records found</div>
    <br/><br/>
    <div id="EmployeeSearch">  
        <div class="search-panel">
            <div class="row row-separator">
                <div class="col-12">Find Employees</div>
            </div>
            <div class="row">			
                <div class="col-1 right">Employee #</div>
			<div class="col-2"><input autocomplete="off" type="text" id="search_EmpNo" maxlength="10" /></div>
			<div class="col-1 right">First Name</div>
			<div class="col-2"><input autocomplete="off" type="text" id="search_FirstName" maxlength="20" /></div>
			<div class="col-1 right">From Hire Date</div>
			<div class="col-2"><input autocomplete="off" class="calendar" maxlength="10" id="search_FromHireDate" /></div><div class="col-1 right">To Hire Date</div>
			<div class="col-2"><input autocomplete="off" class="calendar" maxlength="10" id="search_ToHireDate" /></div>
			<div class="col-1 right">Gender</div>
			<div class="col-2"><select id="search_Gender"></select></div>
			<div class="col-1 right">Region</div>
			<div class="col-2"><select id="search_Region"></select></div>
			<div class="col-1 right">From Birth Date</div>
			<div class="col-2"><input autocomplete="off" class="calendar" maxlength="10" id="search_FromBirthDate" /></div><div class="col-1 right">To Birth Date</div>
			<div class="col-2"><input autocomplete="off" class="calendar" maxlength="10" id="search_ToBirthDate" /></div>
                <div class="col-2">
                    <button onclick="app.employee.count();"><span class="find"></span>Find</button>
                    <button id="addEmployee" onclick="app.employee.showInput();"><span class="addnew"></span>Add New Employee</button>
                </div>
            </div>
        </div>
		<div id="EmployeeHeader" class="row header">
			<div class="col-1"></div>
			<div class="col-1"><a href="#" data-sort-expression="EmpNo" data-sort-order="none">Employee #</a></div>
			<div class="col-1">First Name</div>
			<div class="col-1">Middle Initial</div>
			<div class="col-1">Last Name</div>
			<div class="col-1">Hire Date</div>
			<div class="col-1">Job Title</div>
			<div class="col-1"><a href="#" data-sort-expression="Gender" data-sort-order="none">Gender</a></div>
			<div class="col-1"><a href="#" data-sort-expression="Region" data-sort-order="none">Region</a></div>
			<div class="col-1">Birth Date</div>
		</div>
		<div id="EmployeeContainer" class="grid"></div>
		<div id="EmployeeFooter" class="footer"></div>
    </div>
    <form id="EmployeeInput" class="search-panel"></form>

    <script id="GenderTemplate" type="text/x-jQuery-tmpl">
		<option value="${name}" {{if name === $item.selectedId}}selected="selected" {{/if}}>${name}</option>
	</script>
	<script id="RegionTemplate" type="text/x-jQuery-tmpl">
		<option value="${_id}" {{if _id === $item.selectedId}}selected="selected" {{/if}}>${name}</option>
	</script>
	

	<script id="EmployeeTemplate" type="text/x-jQuery-tmpl">
		<div class="row header">
            <div class="col-12">
                {{if _id == ''}}Add{{else}}Edit{{/if}} Employee<div class="close">X</div>
            </div>
        </div>
		<div class="row">
			<div class="col-1 right"><span class="asterix">*</span> Employee #</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="EmpNo" data-label="Employee #" class="mandatory" value="${EmpNo}" maxlength="10" /></div>
			<div class="col-1 right">First Name</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="FirstName" data-label="First Name"  value="${FirstName}" maxlength="20" /></div>
			<div class="col-1 right">Middle Initial</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="MiddleInitial" data-label="Middle Initial"  value="${MiddleInitial}"  /></div>
			<div class="col-1 right">Last Name</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="LastName" data-label="Last Name"  value="${LastName}"  /></div>
		</div>
		<div class="row">
			<div class="col-1 right"><span class="asterix">*</span> Hire Date</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="HireDate" data-label="Hire Date" class="calendar mandatory" maxlength="10" value="${app.formatDate(HireDate)}"  /></div>
			<div class="col-1 right">Job Title</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="JobTitle" data-label="Job Title"  value="${JobTitle}"  /></div>
			<div class="col-1 right">Gender</div>
			<div class="col-2 left"><select name="Gender">{{tmpl(app.employee.genders, {selectedId: Gender}) "#GenderTemplate"}}</select></div>
			<div class="col-1 right">Region</div>
			<div class="col-2 left"><select name="Region">{{tmpl(app.employee.regions, {selectedId: Region._id}) "#RegionTemplate"}}</select></div>
		</div>
		<div class="row">
			<div class="col-1 right">Birth Date</div>
			<div class="col-2 left"><input autocomplete="off" type="text" name="BirthDate" data-label="Birth Date" class="calendar" maxlength="10" value="${app.formatDate(BirthDate)}"  /></div>
			<div class="col-1 right">Salary</div>
			<div class="col-2 left"><input autocomplete="off" type="number" name="Salary" data-label="Salary"  value="${Salary}"  /></div>
		</div>
		<div class="row">
			<div class="col-1 right"></div>
			<div class="col-4 left"><button type="button" onclick="app.employee.save('${_id}');"><span class="save"></span>Save</button>&nbsp;&nbsp;<button type="button" onclick="app.employee.cancel();"><span class="cancel"></span>Cancel</button></div>
		</div>
	</script>
	
	<script id="EmployeeGridTemplate" type="text/x-jQuery-tmpl">
		<div class="row">
			<div class="col-1">
				<div class="edit" onclick="app.employee.showInput(this);"></div>
				<div class="delete" onclick="app.employee.remove('${_id}');"></div>
			</div>
			<div class="col-1">${EmpNo}</div>
			<div class="col-1">${FirstName}</div>
			<div class="col-1">${MiddleInitial}</div>
			<div class="col-1">${LastName}</div>
			<div class="col-1">${app.formatDate(HireDate)}</div>
			<div class="col-1">${JobTitle}</div>
			<div class="col-1">${Gender}</div>
			<div class="col-1">${Region.name}</div>
			<div class="col-1">${app.formatDate(BirthDate)}</div>
		</div>
	</script>

	<script src="../js/jquery/dist/jquery.min.js"></script>
	<script src="../js/jquery.tmpl.min.js"></script>
	<script src="../js/core.min.js"></script>
	<script src="../js/xhrlib.min.js"></script>
	<script src="../js/grid.min.js"></script>
	<script src="../js/page/employee.min.js"></script>
    <script src="../js/calendar.min.js"></script>
</body>

</html>