### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### VisualStudioCode ###
.settings

##node modules
node_modules

##build folder
build

##sass cache
.sass-cache