.row {
  padding: 6px;
}

.row-separator {
  border-bottom: solid 1px #afafaf;
}

.grid .row:nth-child(2n) {
  background-color: lightgrey;
}

.header {
  background-color: #2bafed;
  font-weight: bold;
  color: #fff;
}
.header .close {
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  float: right;
  cursor: pointer;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer {
  background-color: #726B68;
  color: #fff;
  padding: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer ul {
  list-style-type: none;
  margin: 2px 0px 2px 0px;
  padding: 0px;
}
.footer li {
  display: inline;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}
.footer li.current {
  border: solid 1px #fff;
  font-weight: bold;
}

.row:after, .footer:after {
  content: "";
  clear: both;
  display: block;
}

* {
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-11 {
  width: 91.66667%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-10 {
  width: 83.33333%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-9 {
  width: 75%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-8 {
  width: 66.66667%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-7 {
  width: 58.33333%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-6 {
  width: 50%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-5 {
  width: 41.66667%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-4 {
  width: 33.33333%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-3 {
  width: 25%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-2 {
  width: 16.66667%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.col-1 {
  width: 8.33333%;
  padding: 5px;
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

body {
  font: 100% Calibri, sans-serif;
  color: #333;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

h2 {
  display: inline;
  padding: 20px;
}

.edit {
  background-image: url(/images/edit.png);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  background-image: url(/images/delete.png);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.search-panel {
  border: solid 1px #afafaf;
  margin: 5px 0px 5px 0px;
}

.modal-background {
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 999998;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
}

.modal-dialog {
  z-index: 999999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
}
