body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.row {
  background-color: #efefef;
  padding: 20px;
  border-bottom: solid 1px #333;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.add {
  background-color: #00ff00;
  padding: 20px;
}

h2 {
  display: inline;
  padding: 20px;
}

.errormsg {
  color: red;
}
