.row {
  padding: 6px;
}
.row div {
  line-height: 18px;
  float: left;
  font-size: 1rem;
}

.row-separator {
  border-bottom: solid 1px #afafaf;
  font-weight: bold;
  background-color: #d0d0d0;
}

.grid .row:nth-child(2n) {
  background-color: #e2e2e2;
}

.header {
  background-color: #2bafed;
  font-weight: bold;
  color: #fff;
}
.header .close {
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  float: right;
  cursor: pointer;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header a.asc:after {
  content: url(/images/sort_asc.png);
  margin-left: 10px;
}
.header a.desc:after {
  content: url(/images/sort_desc.png);
  margin-left: 10px;
}

.footer {
  background-color: #726B68;
  color: #fff;
  padding: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer ul {
  list-style-type: none;
  margin: 2px 0px 2px 0px;
  padding: 0px;
}
.footer li {
  display: inline;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}
.footer li.current {
  border: solid 1px #fff;
  font-weight: bold;
}

.row:after, .footer:after {
  content: "";
  clear: both;
  display: block;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1360px) {
  .col-12 {
    width: 100%;
    padding: 5px;
  }

  .col-11 {
    width: 91.66667%;
    padding: 5px;
  }

  .col-10 {
    width: 83.33333%;
    padding: 5px;
  }

  .col-9 {
    width: 75%;
    padding: 5px;
  }

  .col-8 {
    width: 66.66667%;
    padding: 5px;
  }

  .col-7 {
    width: 58.33333%;
    padding: 5px;
  }

  .col-6 {
    width: 50%;
    padding: 5px;
  }

  .col-5 {
    width: 41.66667%;
    padding: 5px;
  }

  .col-4 {
    width: 33.33333%;
    padding: 5px;
  }

  .col-3 {
    width: 25%;
    padding: 5px;
  }

  .col-2 {
    width: 16.66667%;
    padding: 5px;
  }

  .col-1 {
    width: 8.33333%;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1359px) {
  .col-12, .col-11, .col-10 {
    width: 100%;
    padding: 5px;
  }

  .col-9, .col-8, .col-7 {
    width: 75%;
    padding: 5px;
  }

  .col-6, .col-5, .col-4 {
    width: 50%;
    padding: 5px;
  }

  .col-3, .col-2, .col-1 {
    width: 25%;
    padding: 5px;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .col-12, .col-11, .col-10, .col-9 {
    width: 100%;
    padding: 5px;
  }

  .col-8, .col-7, .col-6, .col-5 {
    width: 75%;
    padding: 5px;
  }

  .col-4, .col-3, .col-2 {
    width: 65%;
    padding: 5px;
  }

  .col-1 {
    width: 35%;
    padding: 5px;
  }
}
body {
  font: 100% Calibri, sans-serif;
  color: #333;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

h2 {
  display: inline;
  padding: 20px;
}

input[type=text], input[type=number], textarea, select {
  border: solid 1px #afafaf;
  border-radius: 4px;
  height: 24px;
  letter-spacing: 0.02rem;
  font-size: 0.75rem;
  padding: 2px 5px 2px 5px;
}

button {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #909090;
  color: #2d2d2d;
  font-family: Calibri;
  font-size: .95rem;
  padding: 2px 9px 2px 9px;
  line-height: 20px;
  background: -moz-linear-gradient(top, transparent 0%, rgba(204, 204, 204, 0.65) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(204, 204, 204, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(204, 204, 204, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6cccccc',GradientType=0 );
}

.edit {
  background-image: url(/images/edit.png);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.delete {
  background-image: url(/images/delete.png);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.save {
  background-image: url(/images/save.png);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  float: left;
  margin: 2px 8px 2px 0px;
}

.cancel {
  background-image: url(/images/cancel.png);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  float: left;
  margin: 2px 8px 2px 0px;
}

.addnew {
  background-image: url(/images/addnew.png);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  float: left;
  margin: 2px 8px 2px 0px;
}

.find {
  background-image: url(/images/find.png);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  float: left;
  margin: 2px 8px 2px 0px;
}

.calendar {
  background-image: url(/images/calendar.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 100% -2px;
  width: 100px;
  border: solid 1px #afafaf;
  border-radius: 4px;
  height: 24px;
  letter-spacing: 0.02rem;
  font-size: 0.75rem;
  padding: 2px 5px 2px 5px;
}

.asterix {
  color: #ff0000;
  font-size: 0.9rem;
}

.search-panel {
  border: solid 1px #afafaf;
  margin: 5px 0px 5px 0px;
}

.modal-background {
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 9998;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
}

.modal-dialog {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
}

.calendar-control {
  display: none;
  background-color: #fff;
  border: #afafaf solid 1px;
  position: absolute;
  z-index: 99999;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  padding-top: 6px;
  text-align: center;
  font-size: 0.82rem;
  cursor: default;
  overflow: hidden;
  -webkit-box-shadow: 3px 6px 17px 0px #8f8f8f;
  -moz-box-shadow: 3px 6px 17px 0px #8f8f8f;
  box-shadow: 3px 6px 17px 0px #8f8f8f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calendar-control .wrapper {
  width: 500px;
  height: 154px;
  position: relative;
}
.calendar-control .floater {
  float: left;
  transform: scale(1);
  margin: 0px 10px 8px 8px;
}
.calendar-control a {
  text-decoration: none;
  color: #1069AF;
  font-weight: bold;
  cursor: default;
  width: 150px;
  display: inline-block;
  line-height: 18px;
}
.calendar-control a:hover {
  color: #008FFF;
}
.calendar-control a:visited {
  color: #1069AF;
}
.calendar-control a.leftarrow {
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  display: inline-block;
  background-position: 0px 3px;
}
.calendar-control a.leftarrow-image {
  background-image: url(/images/leftarrow.png);
}
.calendar-control a.leftarrow-image:hover {
  background-image: url(/images/leftarrow_hover.png);
}
.calendar-control a.rightarrow {
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  background-position: 5px 3px;
  display: inline-block;
}
.calendar-control a.rightarrow-image {
  background-image: url(/images/rightarrow.png);
}
.calendar-control a.rightarrow-image:hover {
  background-image: url(/images/rightarrow_hover.png);
}
.calendar-control a.today {
  display: block;
  width: 180px;
}
.calendar-control ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  clear: both;
}
.calendar-control ul li {
  float: left;
  width: 25px;
  padding: 2px 5px 2px 5px;
  text-align: right;
}
.calendar-control ul.dates li.today {
  border: solid 1px #4881AD;
  border-radius: 3px;
  color: #1069AF;
  padding: 1px 4px 1px 4px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 30%, #ccd9e2 100%);
  background: -webkit-linear-gradient(top, #ffffff 30%, #ccd9e2 100%);
  background: linear-gradient(to bottom, #ffffff 30%, #ccd9e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccd9e2',GradientType=0 );
}
.calendar-control ul.dates li:hover {
  color: #1069AF;
  padding: 1px 4px 1px 4px;
  border: solid 1px #64BCFA;
  border-radius: 3px;
}
.calendar-control ul.days li {
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
}
.calendar-control ul.months {
  margin-top: 16px;
}
.calendar-control ul.months li {
  width: 46px;
  height: 46px;
  text-align: center;
  border: solid 1px #f0f0f0;
  padding-top: 12px;
}
.calendar-control ul.months li:hover {
  color: #1069AF;
  border: solid 1px #64BCFA;
  border-radius: 3px;
}
.calendar-control .dateNotOfCurrentMonth {
  color: #c0c0c0;
}
.calendar-control .separator {
  border-top: 1px solid #efefff;
  display: block;
  margin-top: 4px;
}
