@mixin rounded7px {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

@mixin disableTextSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row{
  padding: 6px;
  //border-bottom: solid 1px $primary-color;
  //@include rounded7px;
  div{
    line-height: 18px;
    float: left;
    font-size: 1rem;  
  } 
}


.row-separator{
   border-bottom: solid 1px #afafaf; 
   font-weight: bold;
   background-color: #d0d0d0;
}
  
.grid .row:nth-child(2n){
  background-color: #e2e2e2;
}

.header{
  background-color: #2bafed; 
  font-weight: bold;
  color:#fff;
  
  .close{
    width:20px; 
    height:20px;
    border: solid 1px #fff;
    float:right;
    cursor: pointer;
    text-align: center;
    @include disableTextSelect;
  }
  
  a{
    text-decoration: none;
    color:#fff;
  }
  
  a.asc:after{
    content: url(/images/sort_asc.png);   
    margin-left: 10px; 
  }
  
  a.desc:after{
    content: url(/images/sort_desc.png);   
    margin-left: 10px; 
  }
}

.footer{
  background-color: #726B68; 
  color:#fff;
  padding: 6px;
  @include disableTextSelect;
  
  ul{
    list-style-type: none;
    margin: 2px 0px 2px 0px;
    padding: 0px;
  }
  
  li{
    display: inline;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
  }  
  li.current{
      border:solid 1px #fff;
      font-weight: bold;
  }
}

.row:after, .footer:after {
    content: "";
    clear: both;
    display: block;
}

* {
    box-sizing: border-box;
}

$columns: 12;
$gutter: 10px;
$totalcolumns: $columns;

@function calc-percent($curr, $total) {
  @return ($curr * 100%) / $total;
}

@media (min-width: 1360px) {
    @while $columns > 0 {
    .col-#{$columns} {
        width: calc-percent($columns, $totalcolumns);
        padding: $gutter/2;
    }
    $columns: $columns - 1;
    }
}

@media (min-width: 768px) and (max-width: 1359px) {
    @while $columns > 0 {
        $column1: $columns - 1;
        $column2: $columns - 2;
        .col-#{$columns},.col-#{$column1},.col-#{$column2} {
            width: calc-percent($columns, $totalcolumns);
            padding: $gutter/2;
        }
        $columns: $columns - 3;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .col-12, .col-11, .col-10, .col-9{
        width: 100%;
        padding: $gutter/2;
    }
     .col-8, .col-7, .col-6, .col-5 {
         width: 75%;
        padding: $gutter/2;
     }
     .col-4,.col-3, .col-2 {
        width: 65%;
        padding: $gutter/2;
    }
    .col-1{
        width:35%;
        padding: $gutter/2;
    }
}
