$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$success-color: #00ff00;
$error-color: red;

@import 'grid';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.row{
  background-color: #efefef;
  padding: 20px;
  border-bottom: solid 1px $primary-color;
  @include rounded7px; 
}

.add{
  background-color: $success-color;
  padding: 20px;
}

h2{
  display: inline;
  padding: 20px;
}

.errormsg{
  color:$error-color;
}

