$font-stack: Calibri, sans-serif;
$primary-color: #333;
$success-color: #00ff00;

@import 'grid';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

h2{
  display: inline;
  padding: 20px;
}

@mixin icon-style{
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.edit{
  background-image: url(/images/edit.png);
  @include icon-style;
}

.delete{
  background-image: url(/images/delete.png);
  @include icon-style;
}

.search-panel{
  border: solid 1px #afafaf;
  margin: 5px 0px 5px 0px;
}

.modal-background{
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 999998;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
}

.modal-dialog{
  z-index: 999999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
}