$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$success-color: #00ff00;

@import 'grid';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.row{
  background-color: #efefef;
  padding: 20px;
  border-bottom: solid 1px $primary-color;
  @include rounded7px; 
}

.add{
  background-color: $success-color;
  padding: 20px;
}

h2{
  display: inline;
  padding: 20px;
}

$columns: 12;
$gutter: 20;

@while $columns > 0 {
  .col-#{$columns} {
    width: (($columns - 1) * 100) / $columns;
    padding: $gutter/2;
    border:solid 1px #ff0000;
    line-height: 20px;
    float: left;
  }
  $columns: $columns - 1;
}